html{
  height: 100%;
}
body{
  width: 100%;
  height:100%;
  margin: auto;
  overflow: hidden;
  display: inline-block;
}


#retour{
  position:absolute;
  padding-bottom: 5%;
  padding-left:5%;
  padding-right:5%;
  margin-left:30%;

  background-color: red;
  box-shadow:  1px 1px 2px black,-1px 1px 2px black,1px -1px 2px black,-1px -1px 2px black;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.demi{
  float:left;
  width: 50%;
  height: 100%;
  box-shadow: 1px 1px 2px black;
}

header {
  height:20%;
  background-color: blue;
  width:100%;
}
header>p{
  margin:0px auto;
  text-align: center;
  padding-top: 10%
}

#s1{
  height:80%;
  width:100%;
}

.part{
  box-shadow: 1px 1px 2px black;
  float:left;
  height:100%;
  background-color: gray;
  width:50%;
}

#img{
  margin-left: 10%;
  margin-top:10%;
  background-color: red;
  width: 50%;
  height: 40%;
}

#description{
  margin-top: 20%;
}

#description.h3{

}

#prix{
  margin-top: 10%;
}

#prix{

}
