html{
  height: 100%;
}

body{
  margin: auto;
  height:100%;
  overflow: hidden;

}
.part{
  margin: auto;
  float: left;
  height:100%;
  width:50%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  position: relative;
}
#bneoL{
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 4%;
}
#bNouvelleListe{
  padding-top: 5%;
  background-color: #027DB9;
  border: 2px Solid black;
  color: white;
  padding-bottom: 5%;
  margin-bottom: 4%;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;

}

#liste{
  margin-left: 30%;
  margin-right: 30%;
  display:inline-block;
}

#liste>h1{
  float:left;
  color:white;
}

.boutonliste{
  margin-bottom: 10%;
  float:left;
  align-items: center;
  cursor: pointer;
  background-color: #027DB9;
  border: 2px Solid black;
  padding: 16px 32px;
  color: white;
  text-decoration: none;
  border-radius:15%;
  min-width: 50%;
}

#entier{
  text-align: center;
  margin-bottom: 0%;
  padding-bottom: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}

#entier>h1{
  position: relative;
}


#ul{
  width: 100%;
  background-position:80% 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background-image:url("../img/i1.png");
  filter:blur(2px);
  background-repeat: no-repeat;
}



.demi{
  float:none;
  height:50%;
  width:100%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  text-align: center;

}
