html{
  height: 100%;
}

body{
  margin: auto;
  height:100%;
  overflow: hidden;

}

#retour{
  position:absolute;
  padding-bottom: 5%;
  padding-left:5%;
  padding-right:5%;
  margin-left:30%;

  background-color: red;
  box-shadow:  1px 1px 2px black,-1px 1px 2px black,1px -1px 2px black,-1px -1px 2px black;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.part{
  margin: auto;
  float: left;
  height:100%;
  width:50%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  position: relative;

}

#bnouvelItem{
  float:left;
  width: 8%;
  height: 10%;
  background-color: #040DB9 	;
  border: 2px Solid black;
  color: white;
  padding-bottom: 7%;
  padding-right: 5%;
  margin-left:2%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
}

#bnouvelItem1{
  float:left;
  width: 10%;
  height: 5%;
  background-color: #040DB9 	;
  border: 2px Solid black;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;

}

#entier{
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}

#entier>h1{
  position: relative;
}

#liste{
  height: 100%;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

#contenant{
  margin-left: 0%;
  width: 100%;
  height: 10%;
  display: inline-block;
}

#r{
  float: left;
  border: 2px Solid black;
  height: 50%;
  width: 10%;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
  background-color: red;
}
#v{
  float: left;
  border: 2px Solid black;
  height: 50%;
  width: 10%;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
  background-color: green;

}

#info{
  float:left;
  width: 8%;
  height: 10%;
  background-color: #027DB9 	;
  border: 2px Solid black;
  color: white;
  padding-bottom: 7%;
  padding-right: 5%;
  margin-left:2%;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
}

#reserver{
  float:left;
  width: 8%;
  height: 10%;
  background-color: #027DB9 	;
  border: 2px Solid black;
  color: white;
  padding-bottom: 7%;
  padding-right: 5%;
  margin-left:2%;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
}

#ul{
  width: 100%;
  background-position:80% 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background-image:url("../img/i1.png");
  filter:blur(2px);
  background-repeat: no-repeat;
}


#demiHaut{
  padding: 0px;
  margin: 0px;
  float:right;
  height:50%;
  width:100%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  text-align: center;
  background-color: #F0FFF0;
  display: grid;
}
#demiBas{
  float:right;
  height:50%;
  width:100%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  text-align: center;
}

#demidemi{
  height: 100%;
  width: 100%;
}
#boutoncont{
  width: 100%;
  height: 100%;
  box-shadow:  -1px -1px black;
}

#bouton{
  float:left;
  height: 100%;
  width: 50%;
  margin-top: 0px;

  background-color: #7FFFD4;
  box-shadow:  -1px 1px black;
  text-align: center;

  color: black;

  text-transform:full-width;
  text-decoration: none;
  font-weight :bold;
}

#bouton1{
  float:left;
  height: 100%;
  width: 50%;
  margin-top: 0px;

  background-color: gray;
  box-shadow:  -1px 1px black;
  text-align: center;

  color: black;

  text-transform:full-width;
  text-decoration: none;
  font-weight :bold;
}
