html{
  height: 100%;
}

body{
  margin: auto;
  height:100%;
  overflow: hidden;

}
.part{
  margin: auto;
  float: left;
  height:100%;
  width:50%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;

  position: relative;

}

#bNouvelleListe{
  background-color: #027DB9 	;
  border: 2px Solid black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px
}


#entier{
  text-align: center;
  filter:brightness();
  margin-bottom: 0%;
  padding-bottom: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y:auto;
}

#entier>h1{
  position: relative;
}

ul{
  color:black;
  width: 100%;
}

#ul{
  width: 100%;
  background-position:80% 0%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background-image:url("../img/i1.png");
  filter:blur(2px);
  background-repeat: no-repeat;
}

li{

margin-left: 20%;
  width: 30%;
  margin-top: 5%;
  padding-top: 5%;
  border-radius:15%;
  background-color:#027DB9;
  opacity: 0.6;
  filter:alpha(opacity=60);
  box-shadow: -10px 10px black;
}

.demi{
  float:none;
  height:50%;
  width:100%;
  box-shadow:  1px 1px black,-1px 1px black,1px -1px black,-1px -1px black;
  text-align: center;

}
